* {
    margin: 0;
    padding: 0;
    font-family: Heebo;
    color: white;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(49, 129, 126);
}

@media (hover : hover) {
    button {
        transition: opacity 0.15s;
    }

    button:hover {
        cursor: pointer;
        opacity: 0.7;
    }
}