.middle {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mid-box1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    row-gap: 2rem;
    margin-top: 1rem;
    margin-bottom: 5rem;
}

.mid-box1-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.15s ease-out, opacity 0.15s ease-out;
    transition-delay: 0.3s;
    opacity: 0;
    transform: translate(0, 10px);
}

.mid-box1-1 :nth-child(1) {
    font-size: 1.5rem;
    line-height: 1.5rem;
    width: 80%;
}

.mid-box1-1 :nth-child(2) {
    font-size: 0.8rem;
    line-height: 0.8rem;
    color: rgb(220, 220, 220);
    margin-top: 0.8rem;
    width: 55%;
}

.mid-box1-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.15s ease-out, opacity 0.15s ease-out;
    transition-delay: 0.6s;
    opacity: 0;
    transform: translate(0, 10px);
}

.mid-box1-2 :nth-child(1) {
    font-size: 1.5rem;
    line-height: 1.5rem;
    width: 80%;
}

.mid-box1-2 :nth-child(2) {
    font-size: 0.8rem;
    line-height: 0.8rem;
    color: rgb(220, 220, 220);
    margin-top: 0.8rem;
    width: 55%;
}

.mid-box1-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.15s ease-out, opacity 0.15s ease-out;
    transition-delay: 0.9s;
    opacity: 0;
    transform: translate(0, 10px);
}

.mid-box1-3 :nth-child(1) {
    font-size: 1.5rem;
    line-height: 1.5rem;
    width: 80%;
}

.mid-box1-3 :nth-child(2) {
    font-size: 0.8rem;
    line-height: 0.8rem;
    color: rgb(220, 220, 220);
    margin-top: 0.8rem;
    width: 55%;
}

.mid-painting-container {
    position: relative;
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    left: 0;
    right: 0;
    height: 28rem;
    width: 0;
}

.mid-painting-container img {
    height: 100%;
    box-shadow: 0.4rem 0.4rem 1rem black;
}

.mid-painting-1 {
    position: absolute;
    height: 15rem;
    z-index: 2;
    transform: translate(-30%);
    top: 20px;
}

.mid-painting-2 {
    position: absolute;
    height: 15rem;
    z-index: 0;
    transform: translate(30%);
    top: 90px;
}

.mid-painting-3 {
    position: absolute;
    height: 13rem;
    z-index: 1;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    top: 250px;
}

.mid-button {
    display: flex;
    position: absolute;
    top: 20%;
    z-index: 5;
}

.mid-button button {
    width: 12rem;
    border-style: none;
    background-color: white;
    border-radius: 10%;
    padding: 0.3rem;
    font-size: 2rem;
    line-height: 2rem;
    font-weight: 700;
    color: rgb(49, 129, 126);
    box-shadow: 0.4rem 0.4rem 0.5rem black;
}

.mid-box2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.mid-box2-content {
    height: 13rem;
}

.mid-box2-content img {
    height: 100%;
    box-shadow: 0 6px 4px -5px black;
}

.mid-box2-title {
    margin-top: 1rem;
    font-size: 1.5rem;
    font-family: Heebo;
}

.mid-sb-title {
    font-size: 1.7rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.mid-scrollbox-container {
    position: relative;
    display: flex;
    width: 90%;
    height: 20rem;
    margin-bottom: 5rem;
}

.mid-sb-bars {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 102%;
    left: -1%;
    height: 100%;
}

.mid-sb-bars-left {
    height: 100%;
    width: 15%;
    background-color: rgb(49, 129, 126);
    -webkit-mask-image: linear-gradient(to right, black, transparent);
    mask-image: linear-gradient(to right, black, transparent);
}

.mid-sb-bars-right {
    height: 100%;
    width: 15%;
    background-color: rgb(49, 129, 126);
    -webkit-mask-image: linear-gradient(to left, black, transparent);
    mask-image: linear-gradient(to left, black, transparent);
}

.mid-sb-btns {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.mid-sb-btns-left {
    height: 20%;
}

.mid-sb-btns button {
    height: 100%;
    background: none;
    border-style: none;
}

.mid-sb-btns img {
    height: 100%;
}

.mid-sb-btns-right {
    height: 20%;
}

.mid-scrollbox {
    display: flex;
    overflow: hidden;
    column-gap: 1rem;
    transition: transform 0.3s ease-out;
    scroll-behavior: smooth;
    align-items: center;
    /* justify-content: center; */
    width: 100%;
    height: 100%;
    /* margin-left: 18%; */
    /* margin-right: 18%; */
}

.mid-scrollbox-content-hor {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mid-scrollbox-content-hor img {
    max-width: 231px;
    max-height: 180px;
    object-fit: contain;
    box-shadow: 0.1rem 0.1rem 0.5rem black;
}

.mid-scrollbox-content-vert {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
}

.mid-scrollbox-content-ver img {
    max-width: 231px;
    object-fit: cover;
    box-shadow: 0.1rem 0.1rem 0.5rem black;
}

.mid-scrollbox-content-blank {
    opacity: 0;
    border-style: solid;
    width: 11.1%;
}

.mid-scrollbox img {
    height: 90%;
}

/* Samsung Galaxy S20 Ultra */
@media screen and (min-width: 412px) {

    .mid-sb-title {
        font-size: 2rem;
        font-weight: 700;
    }

    .mid-box1-1 :nth-child(1) {
        font-size: 1.7rem;
        line-height: 1.7rem;
    }

    .mid-box1-1 :nth-child(2) {
        font-size: 1rem;
        line-height: 1rem;
    }

    .mid-box1-2 :nth-child(1) {
        font-size: 1.7rem;
        line-height: 1.7rem;
    }

    .mid-box1-2 :nth-child(2) {
        font-size: 1rem;
        line-height: 1rem;
    }

    .mid-box1-3 :nth-child(1) {
        font-size: 1.7rem;
        line-height: 1.7rem;
    }

    .mid-box1-3 :nth-child(2) {
        font-size: 1rem;
        line-height: 1rem;
    }

    .mid-box2-title {
        font-size: 1.7rem;
    }
}

@media screen and (min-width: 540px) {

    .mid-box1-1 :nth-child(2) {
        width: 100%;
    }

    .mid-box1-2 :nth-child(2) {
        width: 100%;
    }

    .mid-painting-1 {
        height: 15rem;
        transform: translate(-40%);
        top: 20px;
    }

    .mid-painting-2 {
        height: 15rem;
        transform: translate(40%);
        top: 70px;
    }

    .mid-painting-3 {
        height: 13rem;
        top: 250px;
    }
}

@media screen and (min-width: 768px) {

    .mid-scrollbox-container {
        width: 80%;
    }

    .mid-box1 {
        flex-direction: row;
        justify-content: center;
        margin-right: 3%;
    }

    .mid-box1-1,
    .mid-box1-2,
    .mid-box1-3 {
        width: 16rem;
    }

    .mid-box1-1 :nth-child(1) {
        font-size: 1.7rem;
        line-height: 1.7rem;
    }

    .mid-box1-1 :nth-child(2) {
        font-size: 1rem;
        line-height: 1rem;
    }

    .mid-box1-2 :nth-child(1) {
        font-size: 1.7rem;
        line-height: 1.7rem;
    }

    .mid-box1-2 :nth-child(2) {
        font-size: 1rem;
        line-height: 1rem;
    }

    .mid-box1-3 :nth-child(1) {
        width: 16rem;
        font-size: 1.7rem;
        line-height: 1.7rem;
    }

    .mid-box1-3 :nth-child(2) {
        font-size: 1rem;
        line-height: 1rem;
    }

    .mid-painting-container {
        position: relative;
        margin-top: 4rem;
        height: 34rem;
    }

    .mid-painting-1 {
        height: 20rem;
        transform: translate(-40%);
        top: 10px;
    }

    .mid-painting-2 {
        height: 20rem;
        transform: translate(40%);
        top: 70px;
    }

    .mid-painting-3 {
        height: 17rem;
        top: 250px;
    }

    .mid-box2 {
        display: none;
    }

    .mid-button {
        top: 15%;
    }

    .mid-button button {
        width: 15rem;
        padding: 0.5rem;
        font-size: 2.5rem;
        line-height: 2.5rem;
    }
}

@media screen and (min-width: 912px) {

    .mid-sb-title {
        font-size: 2.4rem;
        font-weight: 700;
    }

    .mid-box1 {
        flex-direction: row;
        justify-content: center;
        margin-right: 0;
    }

    .mid-box1-1,
    .mid-box1-2,
    .mid-box1-3 {
        width: 17rem;
    }

    .mid-box1-1 :nth-child(1) {
        font-size: 1.9rem;
        line-height: 1.9rem;
    }

    .mid-box1-1 :nth-child(2) {
        font-size: 1.2rem;
        line-height: 1.2rem;
        width: 100%;
    }

    .mid-box1-2 :nth-child(1) {
        font-size: 1.9rem;
        line-height: 1.9rem;
    }

    .mid-box1-2 :nth-child(2) {
        font-size: 1.2rem;
        line-height: 1.2rem;
        width: 100%;
    }

    .mid-box1-3 :nth-child(1) {
        width: 16rem;
        font-size: 1.9rem;
        line-height: 1.9rem;
    }

    .mid-box1-3 :nth-child(2) {
        font-size: 1.2rem;
        line-height: 1.2rem;
        width: 100%;
    }

    .mid-painting-container {
        position: relative;
        margin-top: 4rem;
        height: 34rem;
    }

    .mid-box2 {
        display: none;
    }

    .mid-button {
        top: 13%;
    }

    .mid-button button {
        width: 18rem;
        padding: 0.5rem;
        font-size: 3rem;
        line-height: 3rem;
    }
}

@media screen and (min-width: 1024px) and (min-height: 600px) {

    .mid-scrollbox-container {
        width: 65%;
    }

    .mid-box1 {
        column-gap: 2rem;
    }

    .mid-painting-1 {
        height: 17rem;
    }

    .mid-painting-2 {
        height: 17rem;
        top: 55px;
    }

    .mid-painting-3 {
        height: 13rem;
        top: 240px;
    }
}

@media screen and (min-width: 1024px) and (min-height: 1366px) {

    .mid-box1 {
        column-gap: 2rem;
    }

    .mid-box1-3 {
        width: 18rem;
    }

    .mid-box1-3 :nth-child(1) {
        width: 100%;
    }

    .mid-painting-1 {
        height: 20rem;
    }

    .mid-painting-2 {
        height: 20rem;
        top: 80px;
    }

    .mid-painting-3 {
        height: 17rem;
        top: 240px;
    }
}


@media screen and (min-width: 1025px) {

    .mid-box1 {
        column-gap: 2rem;
    }

    .mid-box1-1,
    .mid-box1-2,
    .mid-box1-3 {
        width: 23rem;
    }

    .mid-box1-1 :nth-child(1) {
        font-size: 2.5rem;
        line-height: 2.5rem;
        width: 100%;
    }

    .mid-box1-1 :nth-child(2) {
        font-size: 1.3rem;
    }

    .mid-box1-2 :nth-child(1) {
        font-size: 2.5rem;
        line-height: 2.5rem;
        width: 100%;
    }

    .mid-box1-2 :nth-child(2) {
        font-size: 1.3rem;
    }

    .mid-box1-3 :nth-child(1) {
        font-size: 2.5rem;
        line-height: 2.5rem;
        width: 100%;
    }

    .mid-box1-3 :nth-child(2) {
        font-size: 1.3rem;
    }

    .mid-painting-1 {
        height: 23rem;
    }

    .mid-painting-2 {
        height: 23rem;
        top: 80px;
    }

    .mid-painting-3 {
        height: 20rem;
        top: 260px;
    }
}

@media screen and (min-width: 1250px) {
    .mid-scrollbox-container {
        width: 55%;
    }
}

@media screen and (min-width: 1500px) {
    .mid-scrollbox-container {
        width: 45%;
    }
}

@media screen and (min-width: 1800px) {
    .mid-scrollbox-container {
        width: 35%;
    }
}