.middle {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mid-box1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    row-gap: 2rem;
    margin-top: 1rem;
}

.mid-box1-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.15s ease-out, opacity 0.15s ease-out;
    transition-delay: 0.3s;
    opacity: 0;
    transform: translate(0, 10px);
}

.mid-box1-1 :nth-child(1) {
    font-size: 1.5rem;
    line-height: 1.5rem;
    width: 80%;
}

.mid-box1-1 :nth-child(2) {
    font-size: 0.8rem;
    line-height: 0.8rem;
    color: rgb(220, 220, 220);
    margin-top: 0.8rem;
    width: 55%;
}

.mid-box1-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.15s ease-out, opacity 0.15s ease-out;
    transition-delay: 0.6s;
    opacity: 0;
    transform: translate(0, 10px);
}

.mid-box1-2 :nth-child(1) {
    font-size: 1.5rem;
    line-height: 1.5rem;
    width: 80%;
}

.mid-box1-2 :nth-child(2) {
    font-size: 0.8rem;
    line-height: 0.8rem;
    color: rgb(220, 220, 220);
    margin-top: 0.8rem;
    width: 55%;
}

.mid-box1-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.15s ease-out, opacity 0.15s ease-out;
    transition-delay: 0.9s;
    opacity: 0;
    transform: translate(0, 10px);
}

.mid-box1-3 :nth-child(1) {
    font-size: 1.5rem;
    line-height: 1.5rem;
    width: 80%;
}

.mid-box1-3 :nth-child(2) {
    font-size: 0.8rem;
    line-height: 0.8rem;
    color: rgb(220, 220, 220);
    margin-top: 0.8rem;
    width: 55%;
}

.mid-painting-container {
    position: relative;
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    left: 0;
    right: 0;
    height: 28rem;
    width: 100%;
}

.mid-painting-container img {
    height: 100%;
    box-shadow: 0.4rem 0.4rem 1rem black;
}

.mid-painting-1 {
    position: absolute;
    height: 15rem;
    z-index: 2;
    left: 2rem;
    top: 20px;
}

.mid-painting-2 {
    position: absolute;
    height: 15rem;
    z-index: 0;
    right: 2rem;
    top: 90px;
}

.mid-painting-3 {
    position: absolute;
    height: 13rem;
    z-index: 1;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    top: 250px;
}

.mid-button {
    position: absolute;
    top: 45%;
    z-index: 5;
}

.mid-button button {
    height: 100%;
    border-style: none;
    background-color: white;
    border-radius: 10%;
    padding: 0 1rem;
    font-size: 2rem;
    font-weight: 700;
    color: rgb(49, 129, 126);
    box-shadow: 0.4rem 0.4rem 1rem black;
}

.mid-box2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.mid-box2-content {
    height: 13rem;
}

.mid-box2-content img {
    height: 100%;
    box-shadow: 0 6px 4px -5px black;
}

.mid-box2-title {
    margin-top: 1rem;
    font-size: 1.5rem;
    font-family: Heebo;
}

/* Samsung Galaxy S20 Ultra */
@media screen and (min-width: 412px) {
    .mid-box1-1 :nth-child(1) {
        font-size: 1.7rem;
        line-height: 1.7rem;
    }

    .mid-box1-1 :nth-child(2) {
        font-size: 1rem;
        line-height: 1rem;
    }

    .mid-box1-2 :nth-child(1) {
        font-size: 1.7rem;
        line-height: 1.7rem;
    }

    .mid-box1-2 :nth-child(2) {
        font-size: 1rem;
        line-height: 1rem;
    }

    .mid-box1-3 :nth-child(1) {
        font-size: 1.7rem;
        line-height: 1.7rem;
    }

    .mid-box1-3 :nth-child(2) {
        font-size: 1rem;
        line-height: 1rem;
    }

    .mid-button button {
        padding: 0.5rem 1rem;
        font-size: 2.2rem;
        line-height: 2.2rem;
    }

    .mid-box2-title {
        font-size: 1.7rem;
    }
}

@media screen and (min-width: 540px) {

    .mid-box1-1 :nth-child(2) {
        width: 100%;
    }

    .mid-box1-2 :nth-child(2) {
        width: 100%;
    }

    .mid-painting-1 {
        left: 15%;
    }

    .mid-painting-2 {
        right: 15%;
    }
}

@media screen and (min-width: 768px) {

    .mid-box1 {
        flex-direction: row;
        justify-content: center;
        margin-right: 3%;
    }

    .mid-box1-1,
    .mid-box1-2,
    .mid-box1-3 {
        width: 16rem;
    }

    .mid-box1-1 :nth-child(1) {
        font-size: 1.7rem;
        line-height: 1.7rem;
    }

    .mid-box1-1 :nth-child(2) {
        font-size: 1rem;
        line-height: 1rem;
    }

    .mid-box1-2 :nth-child(1) {
        font-size: 1.7rem;
        line-height: 1.7rem;
    }

    .mid-box1-2 :nth-child(2) {
        font-size: 1rem;
        line-height: 1rem;
    }

    .mid-box1-3 :nth-child(1) {
        width: 16rem;
        font-size: 1.7rem;
        line-height: 1.7rem;
    }

    .mid-box1-3 :nth-child(2) {
        font-size: 1rem;
        line-height: 1rem;
    }

    .mid-painting-container {
        position: relative;
        margin-top: 4rem;
        height: 34rem;
    }

    .mid-painting-1 {
        height: 20rem;
        left: 20%;
        top: 10px;
    }

    .mid-painting-2 {
        height: 20rem;
        right: 20%;
        top: 80px;
    }

    .mid-painting-3 {
        height: 17rem;
        top: 270px;
    }

    .mid-button {
        top: 45%;
    }

    .mid-button button {
        padding: 0.5rem 1rem;
        font-size: 2.4rem;
        line-height: 2.4rem;
    }

    .mid-box2 {
        display: none;
    }
}

@media screen and (min-width: 912px) {

    .mid-box1 {
        flex-direction: row;
        justify-content: center;
        margin-right: 0;
    }

    .mid-box1-1,
    .mid-box1-2,
    .mid-box1-3 {
        width: 17rem;
    }

    .mid-box1-1 :nth-child(1) {
        font-size: 1.9rem;
        line-height: 1.9rem;
    }

    .mid-box1-1 :nth-child(2) {
        font-size: 1.2rem;
        line-height: 1.2rem;
        width: 100%;
    }

    .mid-box1-2 :nth-child(1) {
        font-size: 1.9rem;
        line-height: 1.9rem;
    }

    .mid-box1-2 :nth-child(2) {
        font-size: 1.2rem;
        line-height: 1.2rem;
        width: 100%;
    }

    .mid-box1-3 :nth-child(1) {
        width: 16rem;
        font-size: 1.9rem;
        line-height: 1.9rem;
    }

    .mid-box1-3 :nth-child(2) {
        font-size: 1.2rem;
        line-height: 1.2rem;
        width: 100%;
    }

    .mid-painting-container {
        position: relative;
        margin-top: 4rem;
        height: 34rem;
    }

    .mid-painting-1 {
        height: 20rem;
        left: 25%;
        top: 5px;
    }

    .mid-painting-2 {
        height: 20rem;
        right: 25%;
        top: 85px;
    }

    .mid-painting-3 {
        height: 17rem;
        top: 280px;
    }

    .mid-button {
        top: 45%;
    }

    .mid-button button {
        padding: 0.5rem 1rem;
        font-size: 2.4rem;
        line-height: 2.4rem;
    }

    .mid-box2 {
        display: none;
    }
}