* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(49, 129, 126);
}

button {
    transition: opacity 0.15s;
}


button:hover {
    cursor: pointer;
    opacity: 0.7;
}

.top {
    display: flex;
    flex-direction: column;
    justify-content: end;
    background-image: url('images/tree-background.jpg');
    background-size: cover;
    height: 120vh;
}

.header {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    top: 2%;
    left: 1%;
    right: 1%;
    z-index: 100;
}

.top-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    column-gap: 1rem;
}

.top-mid {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    height: 5.3rem;
    background-color: rgb(49, 129, 126);
    transition: opacity 0.15s;
    opacity: 0;
}

.top-right {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo-button {
    height: 60px;
    border-radius: 30px;
}

.logo-button,
.name-button,
.right-bar-button {
    border-style: none;
    background-color: rgba(0, 0, 0, 0);
    transition: opacity 0.15s;
}

.logo-img-left {
    height: 60px;
    border-radius: 30px;
}

.name-container-left {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
    font-family: Heebo;
    font-size: 1.3rem;
    font-weight: 700;
}

.top-info {
    position: relative;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: 20%;
    left: 0;
    right: 0;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-family: Heebo;
    font-size: 4.5rem;
    font-weight: 700;
    row-gap: 0;
    line-height: 4.5rem;
    letter-spacing: 0.15rem;
    padding: 0.15rem 10rem 0.15rem 10rem;
}

.logo-img {
    border-radius: 40px;
    margin-top: 40px;
}

.name-container {
    color: white;
    font-family: Heebo;
    font-size: 1.7rem;
    font-weight: 700;
    margin-top: 10px;
}

.top-description {
    position: relative;
    bottom: 3%;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
    font-family: Heebo;
    font-size: 3rem;
    font-weight: 700;
    transition: opacity 1s;
    opacity: 0;
}

.middle,
.bottom {
    background-color: rgb(49, 129, 126);
    position: relative;
}

.mid-box1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: Heebo;
    font-size: 2.3rem;
    line-height: 2.6rem;
    column-gap: 7rem;
}

.mini-box-1,
.mini-box-2,
.mini-box-3 {
    transition: opacity 2s;
    opacity: 0;
}

.mini-box-1 {
    transition-delay: 0s;
}

.mini-box-2 {
    transition-delay: 0.3s;
}

.mini-box-3 {
    transition-delay: 0.45s;
}

.mid-box1 :nth-child(1) {
    width: 16rem;
    text-align: center;
}

.mid-box1 :nth-child(2) {
    width: 19rem;
    text-align: center;
}

.mid-box1 :nth-child(3) {
    width: 21rem;
    text-align: center;
}

.mid-box1-mini {
    font-size: 1rem;
    line-height: 1.3rem;
    color: rgb(225, 225, 225);
    margin-top: 1rem;
}

.mid-box1 :nth-child(2) :nth-child(1) {
    width: 19rem;
}

.mid-box1 :nth-child(3) :nth-child(1) {
    width: 21rem;
}

.painting-container {
    display: flex;
    justify-content: center;
    position: relative;
    min-height: 60rem;
}

.mid-painting1 {
    /* width: 30rem; */
    padding-top: 200px;
    z-index: 3;
    /* margin-right: -4rem; */
    /* margin-left: 5rem; */
}

.mid-painting2 {
    /* width: 30rem; */
    padding-top: 620px;
    /* margin-right: 7.2rem; */
    z-index: 1;
}

.mid-painting3 {
    /* width: 30rem; */
    padding-top: 400px;
}

.mid-painting1 img {
    height: 400px;
    box-shadow: 0.4rem 0.4rem 1rem black;
}

.mid-painting2 img {
    height: 400px;
    box-shadow: 0.4rem 0.4rem 1rem black;
}

.mid-painting3 img {
    height: 300px;
    box-shadow: 0.4rem 0.4rem 1rem black;
}

.mid-button-container {
    position: static;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mid-button {
    background-color: white;
    padding: 0.5rem 6.5rem;
    border-radius: 1rem;
    border-style: none;
    font-family: Heebo;
    font-size: 3rem;
    font-weight: 700;
    color: rgb(49, 129, 126);
    box-shadow: 0.4rem 0.4rem 1rem black;
    z-index: 15;
}

.bottom {
    display: flex;
    flex-direction: column;
}

.app-box {
    margin-top: 15rem;
    margin-bottom: 15rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 5rem;
}

.app-text-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    font-family: Heebo;
}

.app-text-title {
    font-size: 5rem;
    font-weight: 700;
    color: white;
}

.app-text-desc :nth-child(1) {
    font-size: 2rem;
    color: white;
}

.app-text-desc :nth-child(1) :nth-child(1) {
    font-size: 1rem;
    color: rgb(220, 220, 220);
    width: 15rem;
}

.app-text-button {
    margin-left: 27.5rem;
}

.app-text-button button {
    background-color: white;
    padding: 0.5rem 2rem;
    border-radius: 1rem;
    border-style: none;
    font-family: Heebo;
    font-size: 2rem;
    font-weight: 700;
    color: rgb(49, 129, 126);
    box-shadow: 0.4rem 0.4rem 1rem black;
}

.app-text-qr {
    display: flex;
    margin-bottom: 1rem;
}

.app-text-qr img {
    height: 10rem;
    box-shadow: 0.4rem 0.4rem 1rem black;
}

.app-img-container {
    display: flex;
    flex-direction: column;
}

.app-img-container img {
    height: 40rem;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.2);
    column-gap: 25rem;
}

.profile-box {
    display: flex;
    flex-direction: row;
    column-gap: 6rem;
    justify-content: space-between;
    font-family: Heebo;
    color: rgb(220, 220, 220);
}

.profile-box-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.profile-box-info-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.5rem;
    margin-top: 1rem;
}

.profile-box-pic img {
    height: 80px;
    border-radius: 40px;
}

.profile-box-info-bottom :nth-child(1) {
    font-family: Grape Nuts;
    font-size: 7rem;
    color: white;
    line-height: 8rem;
}

.socials-box {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: left;
    font-family: Heebo;
    color: rgb(220, 220, 220);
    row-gap: 0.8rem;
}

.socials-box :nth-child(5) {
    margin-top: 2rem;
}

.socials-box-title {
    font-weight: 700;
    font-size: 1.2rem;
    color: rgb(237, 188, 63);
}

.socials-box button {
    background: none;
    border: none;
    font-family: Heebo;
    transition: opacity 0.15s;
    font-size: 1rem;
    color: rgb(220, 220, 220);
}